<!-- Buscador de libros -->
<input type="text" name="book" value="Text">
<select id="tipo">
	<option>Autor</option>
	<option>ISBN</option>
	<option>Titulo</option>
</select>
<input type="submit" value="Buscar">